name: Auto tests

on: 
    push:
    pull_request:
        branches: [ main ]
jobs:
    run_style_check:
        runs-on: ubuntu-latest
        defaults:
          run:
            shell: bash -l {0}
        steps:
          - uses: actions/checkout@v4
          - uses: conda-incubator/setup-miniconda@v2
            with:
              activate-environment: swe4s
              environment-file: doc/environment.yml
          - run: pycodestyle $(git ls-files "*.py")
    run_unit_tests:
        runs-on: ubuntu-latest
        defaults:
          run:
            shell: bash -l {0}
        steps:
          - uses: actions/checkout@v4
          - uses: conda-incubator/setup-miniconda@v2
            with:
              activate-environment: swe4s
              environment-file: doc/environment.yml
          - run: |
              cd test/unit
              python -m unittest test_my_utils
    run_func_tests:
        runs-on: ubuntu-latest
        defaults:
          run:
            shell: bash -l {0}
        steps:
          - uses: actions/checkout@v4
          - uses: conda-incubator/setup-miniconda@v2
            with:
              activate-environment: swe4s
              environment-file: doc/environment.yml
          - run: |
              cd test/func
              bash test_print_fires.sh

